---
title: "Welcome to "
---
<body>

	<div class="hero-unit section"> </div>

	<header>
		<div class="container">
			<a class="logo logo-small" href="">BOMBAL</a>
			<nav>
				<ul>
					<li><a href="">PAQUETES</a></li>
					<li><a href="">GALERIA</a></li>
					<li><a href="">NOSOTROS</a></li>
					<li><a href="">CONTACTO</a></li>
				</ul>
			</nav>
		</div>      
	</header>

	<div class= "section section-callout">
		<div class="container">

			<h5>Tu encargate de la comida,<br>nosotros de ponerte los clientes en la mesa.</h5>
			<a href="">Diseñamos sitios web para restaurantes, cafeterias y negocios relacionados.<br>Estamos ubicados en la ciudad de Mexico y queremos trabajar contigo...</a></h4>

		</div>
	</div>


	<div class="container">
		<h3>Nuestros sitios incluyen</h3>	
	</div>

	<div class="section">
		<div class="container">
			<div class="columns columns-medios">
				<div class="column">
					<h2>Reservaciones en linea</h2>
					<p>Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
				</div>
				<div class="column">
					<img src='images/d_peli.jpg'>
				</div>
			</div>
		</div>
	</div>

	<div class="section">
		<div class="container">
			<div class="columns columns-medios">
				<div class="column">
					<h2>Informacion util</h2>
					<p>Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
				</div>
				<div class="column">
					<img src="images/d_snow.jpg">
				</div>
			</div>
		</div>

		<div class="section">
			<div class="container">
				<div class="columns columns-medios">
					<div class="column">
						<h2>Control absoluto</h2>
						<p>Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
					</div>
					<div>
						<img src='images/home-seo.jpg'>
					</div>
				</div>
			</div>
		</div>

		<div class="section">
			<div class="container">
				<div class="columns columns-medios">
					<div class="column">
						<h2>Vinculacion </h2>
						<p>Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
					</div>
					<div>
						<img src='images/home-seo.jpg'>
					</div>
				</div>
			</div>
		</div>

		<div class="section section-grey">
			<div class="container">
				<h2>Necesitas mas?</h2>	

				<div class="columns columns-tercios">
					<div class="column restaurantes infobox" >
						<h5>Foto, video, ilustracion</h5>
						<img src="/images/alhambra.jpg" />
						<p>Flyers, menus, carteles, espectaculares. Diseño gafico para impresion en general.</p>
					</div>

					<div class="column tiendas infobox" >
						<h5>Iniciar con el pie derecho</h5>
						<img src="/images/lama.jpg" />
						<p>Estas iniciando tu negocio? Diseño de imagen completo. Logo, sitio web, menus, etc. </p>

					</div>

					<div class="column hecho infobox" >
						<h5>Cambiar de piel</h5>
						<img src="/images/porto.jpg" />
						<p>Nuevo sabor de un clasico, nuevo giro, imagen nueva. </p>

					</div>
				</div>

			</div>
		</div>


		<div class="section-dark">	
			<div class="container">
				<h3>Trabajos recientes</h3>	
				<div class="container"><img src="images/majestic.jpg"></div>
			</div>
		</div>

		<div class="section section-footer section-grey">
			<div class="container">
				<h3>Contacto</h3>					
				<span data-icon="m">&nbsp;</span>	
				<a href=""><span data-icon="p">&nbsp;</span></a><h4>
				<form>
					<label for="name">Your Name</label>
					<input id="name" />
					<label for="email">Your Email</label>
					<input id="email" />
					<label for="company">Your Company</label>
					<input id="company" />		
					<label for="phone_number">Your Phone Number</label>
					<input id="phone_number" />								
					<label for="message">Message</label>						
					<textarea id="message">&nbsp;</textarea>
					<input type="submit" value="Send inquiry" />
				</form>
			</div>
		</div>
	</div>


</body>
