.columns {
	@include clearfix;
	.column {
		float:left;
		display:inline-block;
		margin-left:$gutter/$em;
	}

	.column:first-child {
		margin-left:0;
	}	
}

.columns-medios {
	.column {
		@include width(6);
	}
}

.columns-tercios {
	.column {
		@include width(4);
		height: 500px;
	}
}

.columns-cuartos {
	.column {
		@include width(3);
		height: 200px;
		margin:5px;
	}
}


