.logo {
	font-size: 8em;
	font-weight:700;
	background-color: $red;
	color: white;
	display: inline-block;
	overflow: hidden;
	padding: 23px 20px 0 20px;
	text-decoration: none;
}

.logo-small {
	font-size: 2em;
	float:left;
}