
@media screen and (max-width: 16.875em) {	
	body {
		font-size: ($font-size - 2)/$em;
		background:yellow;
	}
}

@media screen and (max-width: 19.9375em) {
	body {
		font-size: ($font-size - 1)/$em;
		background:blue;
	}

	.container {
		@include width(4);
	}
}

@media 
	screen and (min-width: 32.5em) and (max-width: 37.4375em),
	screen and (min-width: 45em) and (max-width: 56.9375em),
	screen and (min-width: 77.5em) and (max-width: 102.4375em),
	screen and (min-width: 135em) {
	body {
		font-size: ($font-size + 1)/$em;
		background:red;
	}
}

@media 
	screen and (min-width: 102.5em),
	screen and (min-width: 150em) {
	body {
		font-size: ($font-size + 2)/$em;
	}
}